/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  margin: 0 auto;
  background: #FFFFFF;
  color: #222222;
  font-family: 'Roboto, Arial, sans-serif';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* Your Code Goes Here */
/* Variables */
/* Mixins */
.header-container {
  width: 100%;
}
.header-container img {
  width: 100%;
}
.header-container h2 {
  position: relative;
  bottom: 18rem;
  left: 9%;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
.navbar {
  width: 100%;
  background-color: lightslategrey;
  position: fixed;
  padding: 10px 0 5px;
  z-index: 1;
}
.navbar h1 {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  padding-left: 9%;
}
.navbar img {
  position: relative;
  left: 90%;
  bottom: 20px;
}
.navbar nav a {
  display: none;
}
.top-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 170px;
}
.top-section .top-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-section .learn-more {
  width: 30%;
}
.top-section .learn-more h3 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  padding-bottom: 15px;
}
.top-section .learn-more p {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}
.top-section .learn-more .button {
  border: 1px solid #222222;
  padding: 10px;
  margin-top: 15px;
  width: 30%;
  text-align: center;
  font-size: 14px;
}
.top-section .home-img-1 {
  bottom: 50px;
}
.top-section .designs-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.top-section .designs-content .content {
  width: 33%;
}
.top-section .designs-content .content h3 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  padding-bottom: 15px;
}
.top-section .designs-content .content p {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}
.top-section .designs-content .content .button {
  border: 1px solid #222222;
  padding: 10px;
  margin-top: 15px;
  width: 30%;
  text-align: center;
  font-size: 14px;
}
.middle-section {
  display: flex;
  flex-direction: column;
  margin: -5% 9% 0;
}
.middle-section img {
  margin: 15px 0;
}
.middle-section h3 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  padding-bottom: 50px;
}
.middle-section .villas {
  padding: 15px;
  text-align: center;
  background: #D8D8D8;
  font-size: 24px;
  width: 24%;
  height: 65px;
  position: relative;
  left: 76%;
  bottom: 50px;
}
.middle-section .outskirts {
  padding: 15px;
  text-align: center;
  background: #D8D8D8;
  font-size: 24px;
  width: 24%;
  height: 65px;
  position: relative;
  bottom: 50px;
}
.middle-section .blocks {
  padding: 15px;
  text-align: center;
  background: #D8D8D8;
  font-size: 24px;
  width: 24%;
  height: 65px;
  position: relative;
  left: 76%;
  bottom: 50px;
}
.middle-section p {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  width: 35%;
  margin-left: 35%;
  padding: 10px 0;
}
footer {
  background: #828282;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
footer h3 {
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 15px;
}
footer p {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
footer .left {
  margin-bottom: 18px;
}
footer .left h3 {
  margin: 10px 0;
}
footer .left input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.copy {
  background: #828282;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 0;
  color: #FFFFFF;
}
