/* SERVICES PAGE STYLES */
#services-menu-button {
    position: absolute;
    right: 8%;
    bottom: 10px;
    cursor: pointer;
}
#services-h1 {
    font-weight: bold;
    font-size: 24px;
    color: @background;
    padding-left: 8%;
    position: absolute;
    top: 5px;
}
.header-img img {
    width: 100%;
    @media @mobile {
      height: fit-content;
    }
  }
  .header-img h2 {
      position: relative;
      bottom: 6rem;
      padding-left: 8%;
    //   padding-bottom: 5%;
      font-weight: 800;
      font-size: 64px;
      color: @background;
    //   .jumbotron-headers();
    //   line-height: 0;
      // @media @mobile {
      //   bottom: 9rem;
      //   font-size: 48px;
      //   line-height: 40px;
      //   margin-bottom: 50px;
      //   padding-left: 5%;
      // }
    }
  
  .top-text {
    // .general-text;
    font-size: 24px;
    line-height: 30px;
    margin: 0 8% 2.5%;
    // width: 75%;
    @media @mobile {
      width: 84%;
      margin-top: -10px;
    }
  }
  
  section {
    display: flex;
    justify-content: space-evenly;
    @media @mobile {
      flex-direction: column;
    }
    .tab-link {
      width: 15%;
      height: 50px;
      padding-top: 10px;
      font-size: 24px;
      text-align: center;
      border: 1px solid black;
      @media @mobile {
        width: 80%; 
        margin-bottom: 15px;
        margin-left: 8%;
      }
      &:hover {
        background-color: lightseagreen;
        color: whitesmoke;
      }
    }
  }
  
  .tab-item, .tab-img, .tab-item-heading {
    display: none;
  }
  .tab-item-selected {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    font-size: 24px;;
    align-items: flex-start;
    margin-bottom: 3%;
    // margin-left: 8%;
    width: 38%;
    line-height: 1.2;
    @media @mobile {
      width: 90%;
    }
  
  }
  .tab-1, .tab-2, .tab-3, .tab-4 {
    display: flex;
    flex-direction: row;
    @media @mobile {
      flex-direction: column;
      margin-left: 8%;
    }
    // padding-bottom: 3%;
  }
  .tab-item-heading-selected {
    // font-size: 1.8rem;
    margin: 3% 8%;
    // padding: 24px 0;
    // font-weight: 700;
    display: block;
  }
  .tab-item-heading {
    font-size: 1.8rem;
    // margin: 3% 8%;
    // padding: 5% 8% 2.5%;
    font-weight: 700;
    // display: none;
  }
